{% load static %}
<header class="header">
    <div class="header__inner">
        <div class="container">
            <div class="header__item">
                <div class="header__logo">
                    <a href="{% url 'shop:product_list' %}" class="logo__link">
                        <img src="{% static 'img/logo.png' %}" alt="логотип" class="logo">
                    </a>
                </div>
                <nav class="header__nav">
                    <a href="{% url 'shop:product_list' %}" class="header__nav-link">Главная</a>
                    <a href="#" class="header__nav-link">Оптовые покупки</a>
                    <a href="#" class="header__nav-link">Блог</a>
                    <a href="#" class="header__nav-link">О нас</a>
                </nav>

                <div class="cart">
                    {% with total_items=cart|length %}
                        {% if total_items > 0 %}
                        Моя корзина:
                        <a href="{% url 'cart:cart_detail' %}">
                            {{ total_items }} Товар{{ total_items|pluralize }},
                            {{ cart.get_total_price }}
                        </a>
                        {% elif not order %}
                            Корзина пуста
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</header>
