{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if category %}
        {{ category.title }}
    {% else %}
        Продукты
    {% endif %}
{% endblock %}

{% block content %}
<div id="sidebar">
    <h3>Категории</h3>
    <ul>
        <li {% if not category %}
                class="selected"
            {% endif %}>
            <a href="{% url 'shop:product_list' %}">Все категории</a>
        </li>
        {% for c in categories %}
        <li {% if category.slug == c.slug %}
                class="selected"
            {% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div id="main" class="product-list">
    <h1>{% if category %}
            {{ category.name }}
        {% else %}
            Продукты
        {% endif %}
    </h1>
    {% for product in products %}
    <div class="item">
        <a href="{{ product.get_absolute_url }}">
            <img src="
            {% if product.image %}
                {{ product.image.url }}
            {% else %}
                {% static 'img/not_found.png' %}
            {% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
        <br>
        <p>{{ product.price }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

